<div class="background-image-container mt-ncs">
  <div class="container">
    <div class="jumbotron jumbotron-fluid">
      <ds-search-form [searchPlaceholder]="'home.search-form.placeholder' | translate"></ds-search-form>
      <!-- Top content 
      <div class="top-content">
        <div class="container-fluid">
            <div id="carousel-example" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner row w-100 mx-auto" role="listbox">
                    <div class="carousel-item col-3 col-sm-6 col-md-4 col-lg-3 active"> 1
                        <img src="https://repositorio.unf.edu.pe/themes/Mirage2/images/proyectos_investigacion.jpg" class="img-fluid mx-auto d-block" alt="img1">
                    </div>
                    <div class="carousel-item col-3 col-sm-6 col-md-4 col-lg-3"> 2 
                        <img src="https://repositorio.unf.edu.pe/themes/Mirage2/images/proyectos_investigacion.jpg" class="img-fluid mx-auto d-block" alt="img2">
                    </div>
                    <div class="carousel-item col-3 col-sm-6 col-md-4 col-lg-3"> 3 
                        <img src="https://repositorio.unf.edu.pe/themes/Mirage2/images/proyectos_investigacion.jpg" class="img-fluid mx-auto d-block" alt="img3">
                    </div>
                    <div class="carousel-item col-3 col-sm-6 col-md-4 col-lg-3"> 4
                        <img src="https://repositorio.unf.edu.pe/themes/Mirage2/images/proyectos_investigacion.jpg" class="img-fluid mx-auto d-block" alt="img4">
                    </div>
                    <div class="carousel-item col-3 col-sm-6 col-md-4 col-lg-3"> 5
                        <img src="https://repositorio.unf.edu.pe/themes/Mirage2/images/proyectos_investigacion.jpg" class="img-fluid mx-auto d-block" alt="img5">
                    </div>
                    <div class="carousel-item col-3 col-sm-6 col-md-4 col-lg-3"> 6
                        <img src="https://repositorio.unf.edu.pe/themes/Mirage2/images/proyectos_investigacion.jpg" class="img-fluid mx-auto d-block" alt="img6">
                    </div>
                    <div class="carousel-item col-3 col-sm-6 col-md-4 col-lg-3"> 7
                        <img src="https://repositorio.unf.edu.pe/themes/Mirage2/images/proyectos_investigacion.jpg" class="img-fluid mx-auto d-block" alt="img7">
                    </div>
                    <div class="carousel-item col-3 col-sm-6 col-md-4 col-lg-3"> 8
                        <img src="https://repositorio.unf.edu.pe/themes/Mirage2/images/proyectos_investigacion.jpg" class="img-fluid mx-auto d-block" alt="img8">
                    </div>
                </div>
                <a class="carousel-control-prev" href="javascript:void(0);" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="javascript:void(0);" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
              
            </div>
        </div>
      </div>-->
     
      <div class="row">
        <div *ngFor="let community of communities" class="col-3">
          <div class="card bg-dark text-white">
            <img class="card-img-top" alt="{{ dsoNameService.getName(community) }}" src="https://archivos.unf.edu.pe/dpace/images/communities/{{community.id}}.png" >
            <div class="card-body p-2 text-center">
              <h6 class="card-title m-0">
                <a [routerLink]="['/communities', community.id]">{{ dsoNameService.getName(community) }}</a>
              </h6>
              <!-- 
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            -->
            </div>
          </div>
        </div>
      </div>
     
    </div>
  </div>
  <picture class="background-image">
    <source type="image/webp" srcset="assets/dspace/images/banner.webp 2000w, assets/dspace/images/banner-half.webp 1200w, assets/dspace/images/banner-tall.webp 768w">
    <source type="image/jpg" srcset="assets/dspace/images/banner.jpg 2000w, assets/dspace/images/banner-half.jpg 1200w, assets/dspace/images/banner-tall.jpg 768w">
    <img alt="" [src]="'assets/dspace/images/banner.jpg'"/><!-- without the []="''" Firefox downloads both the fallback and the resolved image -->
  </picture>
</div>
